.wu-button {
  display: inline-block;
  border: none;
  border-radius: 0px; // variable
  cursor: pointer;
  padding: 0px 20px; // variable
  vertical-align: middle;
  font-size: 14px; // variable
  min-width: 30px;
  min-height: 30px;
  line-height: 30px;

  &:disabled {
    cursor: not-allowed;
    outline: none;
    box-shadow: none;
  }

  &:hover {
    background-color: #DDD;
  }

  &:focus {
    outline: none;
  }

  &.wu-button-fill {
    width: 100%;
  }

  &.wu-button-minimal {
    box-shadow: none;
    background-color: none;
  }

  &.wu-button-compact {
    padding: 0 10px;
    min-width: 20px;
    min-height: 20px;
    line-height: 20px;
  }

  &.wu-button-large {
    padding: 0 30px;
    font-size: 18px;
    min-width: 40px;
    min-height: 40px;
    line-height: 40px;
  }

}
